// ================================= Font ================================= //
@font-face {
    font-family: 'AphroditeSlimText';
    src: url('../../src/fonts/aphrodite/aphrodite_slim_text.woff2') format('woff2'),
         url('....//src/fonts/aphrodite/aphrodite_slim_text.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}