// ================================= Variable ============================= //
$mainColor: #C5513A;
$secondColor: #913B2A;
$brownAlt: #913B2A;
$greyColor: #4D4D4D;
$blackColor: #212121;
$bgColor: #FFE9AD;
