// ================================= Variable ============================= //
$mainColor: #4E5C46;
$secondColor: #869554;
$greenAlt: #89A58F;
$greyColor: #4D4D4D;
$blackColor: #212121;
$bgColor: #CAD7CD;
