@import 'modules/fonts', 'modules/variable', 'modules/mixins', 'modules/general';

//  ===================================== PLAN MY DAY =========================================== //
.fixed-body {
    position: fixed;
}
header {
    nav {
        position: fixed;
        z-index: 9;
        background: $secondColor;
        width: 85%;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 20px;
        border-radius: 10px;
    
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 12px 25px;
            align-items: baseline;
    
            li {
                display: inline-block;
    
                img {
                    height: 24px;
                    width: auto;
                }
    
                &._home img {
                    height: 27px;
                }
                &._calendar img {
                    height: 29px;
                }
                &._greeting img{
                    height: 28px;
                }
            }
        }
    }
}
.title {
    @include mainTitle();
}
.pmday-button {
    background-color: $secondColor;
    border-radius: 4px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    margin: auto;
    display: block;
    border: 0;
    color: #fff;
    cursor: pointer;


    figure {
        display: flex;
        color: #fff;
       align-items: center;
       gap: 10px;
       justify-content: center;

    }
}
figure.fullwidth {
    text-align: center;
    width: 80%;
    max-width: 1440px;
    margin: auto;
    margin-top: 80px;
    border: 2px solid $greyColor;
    padding: 5px;

    iframe {
        width: 100%;
    }
}
.divider-wrapper {
    display: table; 
    font-size: 15px;  
    width: 80%;
    margin: 15px auto;

    img {
        margin: auto;
    }
    & > * {
        display: table-cell; position: relative;
    }		
    
    p {
        color: #fff; 
        padding: 0px 10px;
        width: auto; 
        white-space: nowrap;
    }
    .divider {
        width: 50%;
        top: 8px;
        -moz-background-size: 100% 3px;
        background-size: 100% 3px;
        background-position: 0 0, 0 100%;
        background-repeat: no-repeat;

        &.left {
            @include dividerLeft(left, #C4C4C4);
        }

        &.right {
            @include dividerRight(left, #C4C4C4);
        }
    }
}
.card {
    width: 100%;
    max-width: 450px;
    margin: auto;
    background-color: #fff;
    padding: 25px 25px 75px;
    position: relative;
    z-index: 1;
    box-shadow: 5px 10px 35px 5px rgba(0, 0, 0, 0.1);

    .card-content {
        @include section();
        width: 100%;
        flex-direction: column;

        h1 {
            @include titlelatin(30px, $greyColor);
            margin-top: 25px;
        }

        h2 {
            @include subTitle(14px, capitalize);
            margin: 20px auto;
        }

        .details {
            color: $blackColor;
            text-align: center;
            margin: 5px auto 15px;
            figure {
                margin: 10px 0 20px;
                @include section();
                gap: 5px;
                flex-direction: row;

                figcaption {
                    @include subTitle(14px);
                }

                & + p {
                    font-size: 13px;
                    font-weight: 400;
                }
            }
            p {
                line-height: 1.5em;
                @include subTitle(14px);
                padding: 0 5px;
            }
        }
    }

}
.sub-title {
    font-weight: 400;
    font-size: 12px;
    max-width: 600px;
    margin: 20px auto 35px;
    color: #363636;
    line-height: 1.5;
}
.hero,
.popup-opening {
    @include section();
    background-image: url("../../dist/images/ornaments/pmd_orn01.svg");
    background-position: center;
    background-size: cover;

    * {
        text-align: center;
    }
    .center-content {
        width: 60%;
    }
    .ring-hero {
        img {
            width: 60px;
        }
        figcaption {
            @include subTitle(16px, $blackColor);
            letter-spacing: .5px;
            margin: 20px auto;
        }
    }
    picture img{
        max-width: 100%;
        width: 100%;
    }
    .title {
        @include titlelatin(40px, $blackColor);
        display: block;
        margin: 30px auto 25px;
        line-height: 1.5;
    }
    .countdown {
        width: 100%;
        margin: 60px auto 30px;
        display: grid;
        gap: 3%;
        grid-template-columns: 23% 23% 23% 23%;
        justify-content: center;
            
        li {
            display: inline-block;
            background: $mainColor;
            padding: 15px 0;
            margin: 0;
            border-radius: 5px;

            .time {
                @include titlelatin(30px, #fff);
            }
            .desc {
                text-transform: uppercase;
                font-size: 8px;
                color: #fff;
            }
        }
    }
    .subtitle-date {
        @include subTitle(14px, $blackColor);
        margin-bottom: 50px;
    }

}
.center-column {
    & > .header,
    & > .content {
        @include sectionCenter();
        z-index: 1;
        position: relative;
    }
}
.couple {
    padding-bottom: 30px;
    @include section();

    .content {
        display: grid;
        grid-template-columns: 100%;
        padding: 10px;  
        
        .grid-profile__name {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &.groom {
                margin-bottom: 40px;
            }

            h1 {
                @include mainTitle(15px);
                margin: 10px 0 5px;
            }

            p {
                @include normalText();
                text-align: center;
            }

            .social-icons {
                margin:15px 0;

                li {
                    display: inline-block;

                    a {
                        font-size: 12px;
                        text-decoration: none;
                        color: #4D4D4D;

                        img {
                            opacity: .5;
                            vertical-align: sub;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        .grid-profile__photo {
            img {
                width: 60%;
                height: auto;
            }
        }
    }
}
.date-maps {
    background-image: url("../../dist/images/ornaments/pmd_orn02.svg");
    background-position: center;
    background-size: cover;
    overflow: hidden;

    .pmday-button{
        margin-top: 30px;
        max-width: 50%;

        img {
            filter: brightness(0) invert(1);
        }
    }
    .content {
        @include contentFlex();
        flex-direction: column;
        gap: 30px;
    }
    .card {
        width: 100%;
        max-width: 400px;
        padding: 18px 18px 30px;
    }
    
    .pmd-ornament-flower {
        height: 100%;
        max-width: 400px;            
    }

    iframe {
        max-height: 300px;
    }
}
.protocols {
    background: $bgColor;

    .content {
        display: grid;
        grid-template-columns: 40% 40%;
        justify-content: center;
        row-gap: 30px;
        background-color: #fff;
        box-shadow: 5px 10px 35px 5px rgba(0, 0, 0, 0.1);
        padding: 55px 0;

        figure {
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 15px;

            img  {
                width: 100%;
            }


            figcaption {
                font-size: 13px;
                margin-top: 15px;
            }
        }
    }
}
.ar-rum {
    background: $bgColor;

    h1 {
        font-weight: 100;
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 2;
    }
    .sub-title {
        line-height: 2;
        margin: 15px auto;
    }
}
.greeting {
    background-image: url("../../dist/images/ornaments/pmd_orn03.svg");
    background-position: top center;
    background-size: contain;

    .content {
        background-color: #fff;
        box-shadow: 5px 10px 35px 5px rgba(0, 0, 0, 0.1);

        .form-greeting {
            width: 85%;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 30px;
            padding: 45px 0;

            .form-group {
                width: 100%;

                &.prayer-wrapper {
                    width: 100%;
                }
            }
            button {
                width: 100%;
                border: 0;
                color: #fff;
                height: 42px;
            }
            .alert {
                font-weight: 400;
                font-size: 12px;
                color: #d20000;
            }
        }

        .greeting-list {
            width: 85%;
            margin: auto;
            padding: 10px 0 90px;

            ul {
                width: 100%;
                display: flex;
                flex-direction: column-reverse;


                li {
                    color: $greyColor;
                    padding: 15px;
                    border-radius: 10px;
                    text-align: left;
                    background:$bgColor;
                    margin-bottom: 5px;


                    h2 {
                        margin-bottom: 5px;
                        font-size: 15px;
                        text-transform: capitalize;
                    }
                    .greetcheck {
                        text-align: right;
                        font-size: 10px;
                        text-align: left;
                        padding: 5px 0;
                        border-bottom: 1px solid #fff;
                        &::before {
                            content:"";
                            background-image: url("../../dist/images/icons/hadir.svg");
                            width: 10px;
                            height: 10px;
                            display: inline-block;
                            background-size: cover;
                            margin-right: 5px;
                            filter: invert(1);
                        }
                        &.Maaf::before {
                            background-image: url("../../dist/images/icons/tidak-hadir.svg");
                        }
                        &.Tahu::before {
                            background-image: url("../../dist/images/icons/belum-tahu.svg");
                        }
                    }
                    .greettext {
                        margin: 10px 0;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
.prefooter {
    padding-top:0;
    text-align: center;
    background-image: url("../../dist/images/ornaments/pmd_orn04.svg");
    background-position: bottom left;
    background-size: 370px;

    h1 {
        @include titlelatin(30px, $greyColor);
        margin: 25px auto;
    }
    p {
        max-width: 80%;
        margin-bottom: 0;
    }
}
footer {
    padding: 30px 15px 100px;
    text-align: center;
    background-color:$mainColor;
    color: #fff;

    * {
        font-size: 12px;
    }

    a {
        margin-top: 10px;
        display: block;
        text-decoration: none;
    }
}
.popup-opening {
    @include section();
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    background-repeat: no-repeat;
    background-color: $bgColor;

    .center-content {
        width: 70%;
        color: $blackColor;
    }

    h1.title {
        font-size: 30px;
        margin: 3vh auto;
        color: $blackColor;
    }
    p {
        font-size: 13px;
        margin: 2vh 0;
        line-height: 1.3;
    }

    h2 {
        @include mainTitle(20px)
    }
    button {
        padding: 15px 20px;
        margin-top: 3vh;
        cursor: pointer;
    }
    picture img {
        max-width: 150px;
    }
}

#control-music {
    position: fixed;
    z-index: 9;
    width: 45px;
    height: 45px;
    cursor: pointer;
    bottom: 100px;
    right: 15px;


    img {
        -webkit-animation:spin 4s linear infinite;
        -moz-animation:spin 4s linear infinite;
        animation:spin 4s linear infinite;
        width: 100%;
    }

    &.paused {
        img {
            animation: none;
            position: relative;
            opacity: 0.7;
        }

        &:after {
            border-left: 5px solid #fff;
            border-right: 5px solid #fff;
            content: "";
            display: block;
            position: absolute;
            width: 10px;
            height: 25px;
            top: 22%;
            left: 28%;
        }
    }
}
.center-content {
    max-width: 750px;
    margin: auto;
}
//  ===================================== RESPONSIVE =========================================== //
.plan-my-day {
    @include desktop {
        input, select, textarea {
            font-size: 15px;
        }
        section {
            padding: 100px 0;
        }
        header {
            display: none;
        }
        .center-column > .header, 
        .center-column > .content {
            max-width: 750px;
        }
        .ar-rum,
        .couple,
        .date-maps  {
            background-size: cover;
        }
        .pmday-button {
            font-size: 14px;
            padding: 13px 20px;
        }
        .sub-title {
            font-size: 15px;
            margin: 30px auto 64px;
        }
        .divider-wrapper {
            margin: 25px auto;
        }
        .popup-opening {
            overflow: scroll;

            .center-content {
                max-width: 600px;
                margin: 20px auto;
            }
            p {
                font-size: 17px;
                margin: 3vh 0;
            }
        
            h2 {
                @include mainTitle(30px)
            }
            button {
                padding: 20px 30px;
                margin-top: 30px;            
            }
        }
        .hero,
        .popup-opening {
            background-size: cover;
            background-position: top right;

            .ring-hero {
                img {
                    width: 80px;
                }
                figcaption {
                    @include subTitle(25px, $mainColor);
                    margin: 10px auto 40px;
                }
            }
            h1.title {
                margin-top: 0;
                font-size: 45px;
                margin-bottom: 4vh;
            }
            picture img{
                max-width: 300px;
            }
            .countdown {
                gap: 5%;
                margin-bottom: 60px;
                grid-template-columns: 20% 20% 20% 20%;
                    
                li {   
                    border-radius: 10px;     
                    .time {
                        @include titlelatin(50px, #fff);
                    }
                    .desc {
                        font-size: 12px;
                        margin: 5px 0 2px;
                    }
                }
            }
            .subtitle-date {
                @include subTitle(18px, $blackColor);
                margin-bottom: 70px;
            }
        }

        .ar-rum {
            h1 {
                font-size: 23px;
                margin: 20px auto 30px;
            }
            .sub-title {
                font-size: 15px;
                margin: 30px auto 20px;
            }
        }
        .couple {
            .content {
                grid-template-columns: 50% 50%;
                row-gap: 60px;
                
                .grid-profile__name {
                    text-align: left;
                    padding:0 25px;
        
                    &.bride {
                        grid-row: 2 /3; 
                        text-align: right;

                        p {
                            text-align: right;
                        }
                    }
        
                    h1 {
                        @include mainTitle(25px);
                        margin: 20px 0;
                    }
        
                    p {
                        text-align: left;
                        font-size: 14px;
                        margin: 10px 0;
                    }
        
                    .social-icons {
                        margin:15px 0;
        
                        li a img{
                            vertical-align: middle;
                        }
                    }
                }
                .grid-profile__photo {
                    img {
                        max-width: 400px;
                        width: 100%;
                    }
                }
            }
        }
        .date-maps {        
            .content {
                flex-direction: row;
                gap: 35px;
                max-width: 830px;
            }
            .card {
                padding: 20px 20px 30px;


                h1 {
                    font-size: 30px;
                }
                .card-content .details {
                    padding: 0 15px;
                    p {
                        font-size: 15px;
                    }
                    figure + p {
                        font-size: 14px;
                    }
                }
                .border-card.reverse {

                    &::before {
                        right: 20px;
                        bottom: 25px;
                    }
                    &::after {
                        right: 25px;
                        bottom: 25px;
                    }
                }

            }
            
            iframe {
                max-height: 500px;
            }
            .pmday-button {
                margin-bottom: 65px;
            }
        }
        figure.fullwidth {
            margin-top: 120px;
        }

        .protocols {
            .content {
                figure {
                    img  {
                        max-width: 160px;
                    }
        
                    figcaption {
                        font-size: 15px;
                    }
                }
            }
        }
        .greeting {
            background-size: cover;

            .content {
                background-color: #fff;
                box-shadow: 5px 10px 35px 5px rgba(0, 0, 0, 0.1);
        
                .form-greeting {
                    width: 85%;
                    margin: auto;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    gap: 30px;
                    padding: 45px 0;
        
                    .form-group {
                        width: 100%;
        
                        &.prayer-wrapper {
                            width: 100%;
                        }
                    }
                    button {
                        width: 100%;
                        border: 0;
                        color: #fff;
                        height: 42px;
                    }
                }
        
                .greeting-list {
                    ul {
                        width: 100%;
        
                        li {
        
                            h2 {
                                font-size: 20px;
                            }
                            .greetcheck {
                                font-size: 11px;
                                text-align: right;
                                border: 0;
                                padding: 0;
                            }
                            .greettext {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }

        .prefooter {
            background-size: cover;

            img {
                width: 250px;
            }
            h1 {
                font-size: 50px;
            }
            p {
                margin: 50px auto;
                max-width: 750px;
            }
        }
        footer {
            padding: 30px 15px;
            * {
                font-size: 15px;
            }
        }
        #control-music {
            width: 50px;
            height: 50px;
            right: 30px;

            &::after{
                width: 12px;
                height: 27px;
            }
        }
    }
}